@font-face {
  font-family: "Neue-MontrealRegular";
  src: url("/public/fonts/Neue-MontrealRegular.woff2") format("woff2"),
    url("/fonts/Neue-Montreal-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
